spring:
  application:
    name: docker

# Логирование
logging:
  level:
    tesla.docker: DEBUG
    org.springframework.web: INFO

server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always